body,
pre {
	background-color: #2c2f33ff;
	color: #fff;
}

hr {
	border-color: #fff;
}

.gsap-btn {
	background-color: #7289daff;
	color: #fff;
}


.gsap-btn:hover,
.gsap-btn:active,
.gsap-btn:focus {
	background-color: rgb(78, 94, 151);
}
.jump1:hover,
.jump1:focus {
	background-color: rgb(24, 26, 27);
	
}

.jump{
text-align: center;

}

.card-container {
	transform: translateY(25px);
	opacity: 0;
	visibility: hidden;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
	padding: 1.25rem;
}

.tutorial-card {
		margin: 15px;
	transform: translateX(100px);
	opacity: 0;
	visibility: hidden;
	background-color: rgb(69, 53, 110);
	color: #fff;
	height: 80vh;

}

.transition-card {
	transform: translateX(100px);
	opacity: 0;
	visibility: hidden;
	background-color: rgb(69, 53, 110);
	color: #fff;
}

.transition-card2 {
	background-color: #674ea7ff;
	color: #fff;
} 

.tutorial-card.simple {
	transform: translateY(100px);
	opacity: 0;
	visibility: hidden;
}

 .transition-card h4 {
	margin: 10px 0;
}

button.close {
	color: #fff;
	opacity: 1;
}

img:hover,
img:focus {

	color: #2c2f33ff;
}
img{
	object-fit: cover;
	border-radius:50%
}
